body{
    padding: 0px;
    margin: 0px;
}


/* ------------------- header ------------------- */

.header-one{ 
    position:absolute; 
    z-index:100; 
    width: 60%; 
    height: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0 0 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 0 15px;
    height: 130px;
}

.header .logo {
    width: 175px;
}

.header .navigation {
    display: flex;
    float:right; 
    font-family: 'Montserrat', sans-serif; 
    margin:25px 0 0 0;
}


.header .navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header ul li {
    float: left;
    margin: 0 0 0 40px;
}

/* */
.header .logo{
    float:left; 
    width:175px;
}

.header .logo img{ 
    width:100%;
}

.header .navigation{
     float:right; 
     font-family: 'Montserrat', sans-serif; 
     margin:25px 0 0 0;
}

.header .navigation ul{
     float:left;
}

/* */

.header ul li span{
     color: #868686; 
     font-size: 11px; 
     margin: 5px 3px 0 0; 
     float: left;
}

.header ul li span:hover{
    color: #868686;
    text-decoration: none;
    text-decoration-color: none;
    cursor: default;
}

.header ul li a{
    text-transform:uppercase; 
    font-size:16px;
}

/* Links */
a {
    text-decoration: none;
    transition: background-color 0.5s ease, color 1s;
}


/* Images */
img {
    max-width: 100%;
    height: auto;
}



nav ul li{
    transition: 0.5s;
}

nav ul li:hover{
    color: orange;
    text-decoration: line-through;
    text-decoration-color: orange;
}

header nav ul li a{
    text-decoration: none;
    width: 100%;
    padding: 40px 0 40px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 23px;
    cursor: pointer;
    transition: color 0.3s ease;
    overflow: hidden;
}


/*------------------- Background -----------------------*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

#imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 0;
}

#backgroundImage {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.arrow {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transform: translateY(-50%);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}



/*-----------------------seção icones------------------------ */



section{
    background-color: #ffffff;
    padding-top: 100px;
    margin-top: 0px;
}

.icons{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

#cup{
    gap: 0;
    padding: 0;
}

.icons .icon img{
    width: 115px;
}



.txt{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
}

.txt h6{

    color: #000;
    text-decoration: none;
    font-family: "Roboto Slab", serif;

    font-size: 28px;
    font-weight: 300;
    width: 100%;

    display: inline-block;
    text-align: center;
    line-height: 40px;

    margin: 30px;
    padding: 0px;


}





/*---------------- background ------------------------ */

#inicio{
    background-image: url(../img/divider-dark.png);
    background-repeat: repeat-x ;
    margin: 0;
}

section{
    width: 100%;
    height: 500px;
}



/*---------------------------- vendas ------------------------ */

.divisoria{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
}

.projetos {
    text-align: center;
    margin-top: 100px;
}

.projetos h1{
    background: url(../img/black-wave.png) no-repeat center 100px;
    padding: 0 0 18px 0;
    margin: -14px 0 0 0;
}

h1{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    text-transform: uppercase;
    color: #000;
    font-style: italic;
}



h4 {
    font-weight: 300;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.projetos h4 {
    text-transform: uppercase;
    letter-spacing: 11px;

    color: #e7a920;
}


.projetos span {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 12px 0 0 0;
    display: inline-block;
    font-style: italic;

    
}



/*---------------------- mosaico ---------------------*/


.portifolio .mosaico{
    min-width: 1200px;
    max-width: 1400px;
    margin: 0px auto;
    padding-top: 30px;
    
}


.portifolio .mosaico .item{
    height: 470px;
    width: 570px;
    background-image: url(../img/project-1.jpg);
    background-size: contain;
    background-position: center;
    
    
    transition: transform .5s ease;
}

.portifolio .mosaico .item:hover{
    background-size: 110%;
    background-position: center;
}