html {
    scroll-behavior: smooth; 
}



body{
    padding: 0px;
    margin: 0px;
}

/* ------------------- header ------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4B3F72;
    padding: 0 15px;
    height: 95px;
    padding: 0 100px 0 100px;
}

.header .navigation {
    display: flex;
    float:right; 
    font-family: 'Montserrat', sans-serif; 
    margin:25px 0 0 0;
}

.header .logo img{
    width: 100px;
}

.header .navigation {
    display: flex;
    float:right; 
    font-family: 'Montserrat', sans-serif; 
    margin:25px 0 0 0;
}


.botao-arredondado button{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #FFC857;
    text-align: center;

    display: inline-block;
    padding: 10px 20px;
    background-color: #119DA4; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.botao-arredondado button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

nav ul li{
    padding: 10px 10px 20px 10px;
}


.header .navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header ul li span{
    color: white; 
    font-size: 11px; 
    margin: 10px 3px 0 0; 
    float: left;
    font-family: "DM Sans", sans-serif;
}

.header ul li {
    position: relative; /* necessário para o ::after */
    padding: 10px;
}

.header ul li a {
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    color: #FFC857;
    font-size: 23px;
    cursor: pointer;
    position: relative; /* necessário para o ::after */
    overflow: hidden;
}

.header ul li a::after {
    content: "";
    display: block;
    height: 2px; /* espessura da sublinha */
    background: #FFC857; /* cor da sublinha */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease; /* animação da sublinha */
}

.header ul li a:hover::after {
    width: 100%;
}


/* --------------- background ------------------*/

#imageContainer {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 0;
    
}

#backgroundImage {
    width: 100%;
    height: 85vh;
    object-fit: cover;
}


.txtsection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 30px;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.6);
}

.txtsection h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: "DM Sans", sans-serif;
}

.txtsection p {
    margin: 10px 0;
    font-size: 1.2em;
    font-family: "DM Sans", sans-serif;
}

.txtsection button {
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #FFC857;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #119DA4; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.txtsection button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}


/*--------------- seção -----------------*/

.quemsomos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 200px 100px 200px;
}

.quemsomos .text{
    margin-right: 300px;

    font-family: "DM Sans", sans-serif;
}

.quemsomos h1{
    color: #119DA4;
    font-size: 50px;
}

.quemsomos p{
    font-size: 20px;
}

/*--------------- seção -----------------*/

.quemsomos .documentos02{
    margin-right: 300px;
    font-family: "DM Sans", sans-serif;
}

#selecao{
    border-color: #4B3F72;
    padding: 10px;
    border-radius: 25px;
    background-color: #FFC857;
    font-family: "DM Sans", sans-serif;
}


/*--------------- footer -----------------*/

.rodape{
    background-color: #119DA4;
}

.icons{
    width: 300px;
    height: 40px;
    margin: 0 auto;
    padding-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.icon{
    cursor: pointer;
    transition: color 0.3s ease;
    overflow: hidden;
}

.icons .icon img{
    width: 40px;
}

.txtrodape{
    color: #e8ec00;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;

    font-size: 20px;
    font-weight: 300;
    width: 100%;

    display: inline-block;
    text-align: center;
}
