body {
    padding: 0px; /* Remove o preenchimento da página */
    margin: 0px; /* Remove as margens da página */
}

/* ------------------- header ------------------- */

.header-one { 
    position: absolute; /* Posiciona o header de forma absoluta na página */
    z-index: 100; /* Coloca o header acima de outros elementos */
    width: 60%; /* Define a largura do header como 60% da largura da tela */
    height: 100%; /* Define a altura do header como 100% da altura da tela */
    left: 50%; /* Posiciona o header no meio da tela */
    transform: translateX(-50%); /* Ajusta a posição do header para centralizá-lo */
    margin: 15px 0 0 0; /* Adiciona uma margem superior de 15 pixels */
}

.header {
    display: flex; /* Usa flexbox para alinhar itens dentro do header */
    justify-content: space-between; /* Espalha os itens com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente no centro */
    background: #000; /* Define a cor de fundo como preta */
    padding: 0 15px; /* Adiciona 15 pixels de preenchimento nas laterais */
    height: 130px; /* Define a altura do header como 130 pixels */
}

.header .logo {
    width: 175px; /* Define a largura do logo como 175 pixels */
}

.header .navigation {
    display: flex; /* Usa flexbox para alinhar itens de navegação */
    float: right; /* Alinha a navegação à direita */
    font-family: 'Montserrat', sans-serif; /* Define a fonte para a navegação */
    margin: 25px 0 0 0; /* Adiciona uma margem superior de 25 pixels */
}

.header .navigation ul {
    display: flex; /* Alinha os itens da lista horizontalmente */
    list-style-type: none; /* Remove as bolinhas dos itens da lista */
    margin: 0; /* Remove a margem dos itens da lista */
    padding: 0; /* Remove o preenchimento dos itens da lista */
}

.header ul li {
    float: left; /* Alinha os itens da lista à esquerda */
    margin: 0 0 0 40px; /* Adiciona uma margem esquerda de 40 pixels */
}

/* */
.header .logo {
    float: left; /* Alinha o logo à esquerda */
    width: 175px; /* Define a largura do logo como 175 pixels */
}

.header .logo img { 
    width: 100%; /* Faz a imagem ocupar 100% da largura do logo */
}

.header .navigation {
    float: right; /* Alinha a navegação à direita */
    font-family: 'Montserrat', sans-serif; /* Define a fonte para a navegação */
    margin: 25px 0 0 0; /* Adiciona uma margem superior de 25 pixels */
}

.header .navigation ul {
    float: left; /* Alinha a lista de navegação à esquerda */
}

/* */

.header ul li span {
    color: #868686; /* Define a cor do texto como cinza */
    font-size: 11px; /* Define o tamanho da fonte como 11 pixels */
    margin: 5px 3px 0 0; /* Adiciona uma margem superior de 5 pixels e uma margem direita de 3 pixels */
    float: left; /* Alinha o texto à esquerda */
}

span:hover {
    color: #868686; /* Define a cor do texto como cinza ao passar o mouse */
    text-decoration: none; /* Remove o sublinhado do texto */
    text-decoration-color: none; /* Remove a cor do sublinhado do texto */
    cursor: default; /* Muda o cursor para o padrão ao passar o mouse */
}

.header ul li a {
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    font-size: 16px; /* Define o tamanho da fonte como 16 pixels */
}

/* Links */
a {
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: background-color 0.5s ease, color 1s; /* Adiciona transições suaves para a cor e o fundo */
}

/* Images */
img {
    max-width: 100%; /* Faz as imagens não ultrapassarem a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

nav ul li {
    transition: 0.5s; /* Adiciona uma transição suave para os itens da lista */
}

/* Estilo ao passar o mouse */
:hover {
    color: orange; /* Muda a cor do texto para laranja ao passar o mouse */
    text-decoration: line-through; /* Adiciona uma linha através do texto */
    text-decoration-color: orange; /* Define a cor da linha através do texto como laranja */
}

nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    width: 100%; /* Faz o link ocupar toda a largura do item */
    padding: 40px 0; /* Adiciona 40 pixels de preenchimento acima e abaixo do link */
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte para os links */
    color: aliceblue; /* Define a cor do texto como azul claro */
    font-size: 23px; /* Define o tamanho da fonte como 23 pixels */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar o mouse */
    transition: color 0.3s ease; /* Adiciona uma transição suave para a cor do texto */
    overflow: hidden; /* Oculta o conteúdo que ultrapassar o contêiner */
}

/*------------------- Trabalho -----------------------*/

#trabalhos {
    background-color: blue; /* Define o fundo do elemento com id "trabalhos" como azul */
}
