body{
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
    width: 100%;
    height: 500px;
    padding-top: 15px;
}

nav{
    background-color: black;
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    margin: 0 auto 0 auto;
}